<table class="screen" id="SCH12" *ngIf="isDataReady"><tr>
	<td class="aside" valign="top">
		<ao-sch-navigation [selected]="'nonCompetition'" (update)="onUpdateFilter($event)"></ao-sch-navigation>
	</td>
	<td class="separator"></td>
	<td class="mainPanel" valign="top">
		<div class="breadcrumbs">
			<span>breadcrumbs</span>
		</div>
    <div id="header">
    	<div class="mainTitle">
    		<span>Non-Competition</span>
    	</div>
    </div>
		<div id="mainContent">
    </div>
  </td>
</tr></table>